<div class="col-md-9">
  <div class="row">
    <div class="col-md-12">
      <div class="card-header">
        List of scans
      </div>
      <div class="card-body">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Domain</th>
              <th>High </th>
              <th>Medium </th>
              <th> Low</th>


            </tr>
          </thead>
          <tbody>
            <tr class="border-bottom-primary">
              <th>scan1</th>
              <td>www.example.com</td>
              <td>3 </td>
              <td>7</td>
              <td>2 </td>
              <td type="button" (click)="openModal(template2)" class="fas fa-cogs"> </td>
              <td type="button" class="fas fa-times-circle"></td>



            </tr>
            <tr class="border-bottom-primary">
              <th scope="row">scan2</th>
              <td>www.cisco.com</td>
              <td>4</td>
              <td>12</td>
              <td>2 </td>
              <td type="button" class="fas fa-cogs"></td>
              <td type="button" class="fas fa-times-circle"> </td>



            </tr>
            <tr class="border-bottom-primary">
              <th scope="row">scan3</th>
              <td>www.styleform-dev.se</td>
              <td>1</td>
              <td>4</td>
              <td>16 </td>
              <td type="button" class="fas fa-cogs"> </td>
              <td type="button" class="fas fa-times-circle"> </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>