
<body>
    <!-- online -->

      <div class="siimple-content siimple-content--large siimple--mt-5" *appShowAuthed="true">
          <div class="siimple--mb-5" align="center">
              <div class="siimple-h1 siimple--text-normal siimple--mb-1">Information gathering</div>
              <div class="siimple-paragraph siimple-paragraph--lead">
                  Information Gathering is the first and foundation step in the success of penetration testing.  The more useful information you have about a target, more you able to find vulnerabilities in the target and hence able to find more serious problems in the target by exploiting them (to demonstrate).
              </div>
          </div>
          <div class="siimple-grid">
              <div class="siimple-grid-row">
                  <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12">
                      <div class="siimple-card">
                          <div class="siimple-card-header" align="center">
                              <div class="siimple-h5 siimple--mb-0">Find subdomains</div>
                          </div>
                          <div class="siimple-card-body" align="center">
                              <div class="siimple--mt-3 siimple--mb-4" align="center">

                                  <div class="siimple--mb-1">Discover subdomains and determine the attack surface of an organization</div>
                                 
                              </div>
                              <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='false'>
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12">
                      <div class="siimple-card">
                          <div class="siimple-card-header" align="center">
                              <div class="siimple-h5 siimple--mb-0">Website Recon</div>
                          </div>
                          <div class="siimple-card-body" align="center">
                              <div class="siimple--mt-3 siimple--mb-4" align="center">
                                 
                                  <div class="siimple--mb-1">Find which web technologies your website is using</div>
                                  
                              </div>
                              <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12">
                      <div class="siimple-card">
                          <div class="siimple-card-header" align="center">
                              <div class="siimple-h5 siimple--mb-0">Google Hacking</div>
                          </div>
                          <div class="siimple-card-body" align="center">
                              <div class="siimple--mt-3 siimple--mb-4" align="center">
                                
                                  <div class="siimple--mb-1">Use advanced search operators to find juicy information about your websites</div>

                              </div>
                              <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="siimple-grid-col siimple-grid-col--6 siimple-grid-col--sm-12">
                        <div class="siimple-card">
                            <div class="siimple-card-header" align="center">
                                <div class="siimple-h5 siimple--mb-0">Find Virtual Hosts</div>
                            </div>
                            <div class="siimple-card-body" align="center">
                                <div class="siimple--mt-3 siimple--mb-4" align="center">
                                  
                                    <div class="siimple--mb-1">Discover the virtual hosts configured on a given IP address</div>
  
                                </div>
                                <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='false'>
                              </div>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
      <div class="siimple-content siimple-content--large siimple--mt-5" *appShowAuthed="true">
            <div class="siimple--mb-5" align="center">
                <div class="siimple-h1 siimple--text-normal siimple--mb-1">Web Application Testing</div>
                <div class="siimple-paragraph siimple-paragraph--lead">
                  Web Penetration Testing is as the name suggestions, a penetration test that focuses solely on a web application rather than a network or company.                </div>
            </div>
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                        <div class="siimple-card">
                            <div class="siimple-card-header" align="center">
                                <div class="siimple-h5 siimple--mb-0">SQLi</div>
                            </div>
                            <div class="siimple-card-body" align="center">
                                <div class="siimple--mt-3 siimple--mb-4" align="center">
  
                                    <div class="siimple--mb-1">Discover SQL Injection vulnerabilities in web applications</div>
                                   
                                </div>
                                <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                        <div class="siimple-card">
                            <div class="siimple-card-header" align="center">
                                <div class="siimple-h5 siimple--mb-0">XSS</div>
                            </div>
                            <div class="siimple-card-body" align="center">
                                <div class="siimple--mt-3 siimple--mb-4" align="center">
                                   
                                    <div class="siimple--mb-1">Test if your web application is vulnerable to Cross-Site Scripting </div>
                                    
                                </div>
                                <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12" >
                        <div class="siimple-card">
                            <div class="siimple-card-header" align="center">
                                <div class="siimple-h5 siimple--mb-0">URL Fuzzer</div>
                            </div>
                            <div class="siimple-card-body" align="center">
                                <div class="siimple--mt-3 siimple--mb-4" align="center">
                                  
                                    <div class="siimple--mb-1">Discover hidden files and directories</div>
  
                                </div>
                                <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                          <div class="siimple-card">
                              <div class="siimple-card-header" align="center">
                                  <div class="siimple-h5 siimple--mb-0">Web Server Scan</div>
                              </div>
                              <div class="siimple-card-body" align="center">
                                  <div class="siimple--mt-3 siimple--mb-4" align="center">
                                    
                                      <div class="siimple--mb-1">Discover common web application vulnerabilities and server configuration issues</div>
    
                                  </div>
                                  <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com">
                              </div>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="siimple-content siimple-content--large siimple--mt-5" *appShowAuthed="true">
            <div class="siimple--mb-5" align="center">
                <div class="siimple-h1 siimple--text-normal siimple--mb-1">Infrastructure Testing</div>
                <div class="siimple-paragraph siimple-paragraph--lead">
                  An infrastructure penetration test is a proven method of evaluating the security of your computing networks, infrastructure and application weaknesses by simulating a malicious attack.            </div>
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12">
                        <div class="siimple-card">
                            <div class="siimple-card-header" align="center">
                                <div class="siimple-h5 siimple--mb-0">TCP Port Scan</div>
                            </div>
                            <div class="siimple-card-body" align="center">
                                <div class="siimple--mt-3 siimple--mb-4" align="center">
  
                                    <div class="siimple--mb-1">Discover open TCP ports, detect service version and operating system</div>
                                   
                                </div>
                                <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12">
                        <div class="siimple-card">
                            <div class="siimple-card-header" align="center">
                                <div class="siimple-h5 siimple--mb-0">UDP Port Scan</div>
                            </div>
                            <div class="siimple-card-body" align="center">
                                <div class="siimple--mt-3 siimple--mb-4" align="center">
                                   
                                    <div class="siimple--mb-1">Discover open UDP ports, detect service version and operating system</div>
                                    
                                </div>
                                <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com">
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12">
                          <div class="siimple-card">
                              <div class="siimple-card-header" align="center">
                                  <div class="siimple-h5 siimple--mb-0">Whois Lookup</div>
                              </div>
                              <div class="siimple-card-body" align="center">
                                  <div class="siimple--mt-3 siimple--mb-4" align="center">
                                    
                                      <div class="siimple--mb-1">Find information about an Internet resource (domain name, IP address)</div>
    
                                  </div>
                                  <div class="md-form active-cyan-2 mb-3">
                                    <input class="form-control" type="search" id="search6" placeholder="example.com">
                              </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>

    <!-- offline -->

        <div class="siimple-content siimple-content--large siimple--mt-5" *appShowAuthed="false">
            <div class="siimple--mb-5" align="center">
                <div class="siimple-h1 siimple--text-normal siimple--mb-1">Information gathering</div>
                <div class="siimple-paragraph siimple-paragraph--lead">
                    Information Gathering is the first and foundation step in the success of penetration testing.  The more useful information you have about a target, more you able to find vulnerabilities in the target and hence able to find more serious problems in the target by exploiting them (to demonstrate).
                </div>
            </div>
            <div class="siimple-grid">
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                        <div class="siimple-card">
                            <div class="siimple-card-header" align="center">
                                <div class="siimple-h5 siimple--mb-0">Find subdomains</div>
                            </div>
                            <div class="siimple-card-body" align="center">
                                <div class="siimple--mt-3 siimple--mb-4" align="center">
  
                                    <div class="siimple--mb-1">Discover subdomains and determine the attack surface of an organization</div>
                                   
                                </div>
                                <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='false'>
                                </div>
  
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                        <div class="siimple-card">
                            <div class="siimple-card-header" align="center">
                                <div class="siimple-h5 siimple--mb-0">Website Recon</div>
                            </div>
                            <div class="siimple-card-body" align="center">
                                <div class="siimple--mt-3 siimple--mb-4" align="center">
                                   
                                    <div class="siimple--mb-1">Find which web technologies your website is using</div>
                                    
                                </div>
                                <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                        <div class="siimple-card">
                            <div class="siimple-card-header" align="center">
                                <div class="siimple-h5 siimple--mb-0">Google Hacking</div>
                            </div>
                            <div class="siimple-card-body" align="center">
                                <div class="siimple--mt-3 siimple--mb-4" align="center">
                                  
                                    <div class="siimple--mb-1">Use advanced search operators to find juicy information about your websites</div>
  
                                </div>
                                <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                          <div class="siimple-card">
                              <div class="siimple-card-header" align="center">
                                  <div class="siimple-h5 siimple--mb-0">Find Virtual Hosts</div>
                              </div>
                              <div class="siimple-card-body" align="center">
                                  <div class="siimple--mt-3 siimple--mb-4" align="center">
                                    
                                      <div class="siimple--mb-1">Discover the virtual hosts configured on a given IP address</div>
    
                                  </div>
                                  <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='true'>
                                </div>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="siimple-content siimple-content--large siimple--mt-5" *appShowAuthed="false">
              <div class="siimple--mb-5" align="center">
                  <div class="siimple-h1 siimple--text-normal siimple--mb-1">Web Application Testing</div>
                  <div class="siimple-paragraph siimple-paragraph--lead">
                    Web Penetration Testing is as the name suggestions, a penetration test that focuses solely on a web application rather than a network or company.                </div>
              </div>
              <div class="siimple-grid">
                  <div class="siimple-grid-row">
                      <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                          <div class="siimple-card">
                              <div class="siimple-card-header" align="center">
                                  <div class="siimple-h5 siimple--mb-0">SQLi</div>
                              </div>
                              <div class="siimple-card-body" align="center">
                                  <div class="siimple--mt-3 siimple--mb-4" align="center">
    
                                      <div class="siimple--mb-1">Discover SQL Injection vulnerabilities in web applications</div>
                                     
                                  </div>
                                  <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='true'>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                          <div class="siimple-card">
                              <div class="siimple-card-header" align="center">
                                  <div class="siimple-h5 siimple--mb-0">XSS</div>
                              </div>
                              <div class="siimple-card-body" align="center">
                                  <div class="siimple--mt-3 siimple--mb-4" align="center">
                                     
                                      <div class="siimple--mb-1">Test if your web application is vulnerable to Cross-Site Scripting </div>
                                      
                                  </div>
                                  <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='true'>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                          <div class="siimple-card">
                              <div class="siimple-card-header" align="center">
                                  <div class="siimple-h5 siimple--mb-0">URL Fuzzer</div>
                              </div>
                              <div class="siimple-card-body" align="center">
                                  <div class="siimple--mt-3 siimple--mb-4" align="center">
                                    
                                      <div class="siimple--mb-1">Discover hidden files and directories</div>
    
                                  </div>
                                  <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='true'>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="siimple-grid-col siimple-grid-col--3 siimple-grid-col--sm-12">
                            <div class="siimple-card">
                                <div class="siimple-card-header" align="center">
                                    <div class="siimple-h5 siimple--mb-0">Web Server Scan</div>
                                </div>
                                <div class="siimple-card-body" align="center">
                                    <div class="siimple--mt-3 siimple--mb-4" align="center">
                                      
                                        <div class="siimple--mb-1">Discover common web application vulnerabilities and server configuration issues</div>
      
                                    </div>
                                    <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='true'>
                                </div>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
          <div class="siimple-content siimple-content--large siimple--mt-5" *appShowAuthed="false">
              <div class="siimple--mb-5" align="center">
                  <div class="siimple-h1 siimple--text-normal siimple--mb-1">Infrastructure Testing</div>
                  <div class="siimple-paragraph siimple-paragraph--lead">
                    An infrastructure penetration test is a proven method of evaluating the security of your computing networks, infrastructure and application weaknesses by simulating a malicious attack.            </div>
              <div class="siimple-grid">
                  <div class="siimple-grid-row">
                      <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12">
                          <div class="siimple-card">
                              <div class="siimple-card-header" align="center">
                                  <div class="siimple-h5 siimple--mb-0">TCP Port Scan</div>
                              </div>
                              <div class="siimple-card-body" align="center">
                                  <div class="siimple--mt-3 siimple--mb-4" align="center">
    
                                      <div class="siimple--mb-1">Discover open TCP ports, detect service version and operating system</div>
                                     
                                  </div>
                                  <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='true'>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12">
                          <div class="siimple-card">
                              <div class="siimple-card-header" align="center">
                                  <div class="siimple-h5 siimple--mb-0">UDP Port Scan</div>
                              </div>
                              <div class="siimple-card-body" align="center">
                                  <div class="siimple--mt-3 siimple--mb-4" align="center">
                                     
                                      <div class="siimple--mb-1">Discover open UDP ports, detect service version and operating system</div>
                                      
                                  </div>
                                  <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='true'>
                                </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12">
                            <div class="siimple-card">
                                <div class="siimple-card-header" align="center">
                                    <div class="siimple-h5 siimple--mb-0">Whois Lookup</div>
                                </div>
                                <div class="siimple-card-body" align="center">
                                    <div class="siimple--mt-3 siimple--mb-4" align="center">
                                      
                                        <div class="siimple--mb-1">Find information about an Internet resource (domain name, IP address)</div>
      
                                    </div>
                                    <div class="md-form active-cyan-2 mb-3">
                                      <input class="form-control" type="search" id="search6" placeholder="example.com" [disabled]='true'>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
  
  
  </body>         