<header class="bg-primary    text-white">
  <div class="container text-center">
    <h1>Go hack yourself</h1>
    <p class="lead">or someone else will</p>
    <h1>Discover and validate vulnerabilities in web applications</h1>
  </div>
</header>

<div class="row">
  <div class="col-lg-3">
    <div class="card mb-3">
      <div class="card-header">
        PENETRATION Testers
      </div>
      <div class="card-body">
        <h6>
          -Quicly discover the attack surface of a target organization.

        </h6>
        <h6>
            -Easily juicy information by just using your browser.
            
          </h6>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card mb-3">
      <div class="card-header">
        WEB DEVELOPERS
      </div>
      <div class="card-body">

          <h6>
              -Check the security of your web applications by performing security scans.
    
            </h6>
            <h6>
                -Find SQL injections and Cross Site Scripting and many other vulnerabilities.
                
              </h6>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card mb-3">
      <div class="card-header">
        BUISNESS OWNERS
      </div>
      <div class="card-body">
          <h6>
              -Obtain a quick overview of your company's security posture.
    
            </h6>
            <h6>
                -Discover the Internet exposure of your company as an attacker sees it.
                
              </h6>
              <h6>
                  -Check if the IT team has done a good job in securing the web application.
                  
                </h6>
      </div>
    </div>
  </div>
</div>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>How a scan works ?</h2>
        <ul>
          <li>Create a scan of the domain you want to test</li>
          <li>Start the scan</li>
          <li>Your web application is tested with the tool you choose</li>
          <li>You will receive descriptive reports with your security issues</li>
        </ul>
      </div>
    </div>
  </div>
</section>