<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Choose your scan </div>
            <div class="list-group list-group-flush">
                <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Find Subdomains</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Website Recon</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Google Hacking</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Find Virtual Hosts</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">SQLi Scan</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">XSS Scan</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">URL Fuzzer</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Web Server Scan</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">TCP Port Scan</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">UDP Port Scan</a> -->
                <a *ngFor="let scan of scans" (click)="selectedScan = scan" [innerHTML]="scan.title"
                    class="list-group-item list-group-item-action bg-light"></a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid">
                <app-scan-preview [scan]="selectedScan"></app-scan-preview>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });


    </script>




</body>