<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Sickurity</h1>
      <p>Improve your website and infrastructure network sicurity if it is sick</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="www.example.com">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
        </div>
      </div>  
    </div>
  </div>  