<div class="row">
  <div class="col-lg-6">
    <h2>Mission</h2>
    <p>Help our clients become resilient against cyber attacks</p>
  </div>
  <div class="col-lg-6">

    <h2>Vision</h2>
    <p>Build effective online platformfor penetration testing</p>
  </div>
  <div class="card mb-6 align-items-center">
    <div class="card-header">
      Contact us
    </div>
    <div class="card-body">
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Name">
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Email">
        </div>
        <div class="col-sm-6 ">
            <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Subject">
          </div>
          <div class="col-sm-6 ">
              <input type="textarea" class="form-control form-control-user" id="exampleLastName" >
            </div>
      </div>
    </div>